<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqhw.mapper.AboutMapper" >
  <resultMap id="BaseResultMap" type="com.hqhw.pojo.About" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="SeoKeyWord" property="seokeyword" jdbcType="VARCHAR" />
    <result column="SeoDescription" property="seodescription" jdbcType="VARCHAR" />
    <result column="viewFlag" property="viewflag" jdbcType="INTEGER" />
    <result column="reorder" property="reorder" jdbcType="INTEGER" />
    <result column="Column_7" property="column7" jdbcType="CHAR" />
    <result column="Column_8" property="column8" jdbcType="CHAR" />
    <result column="seo_description" property="seoDescription" jdbcType="VARCHAR" />
    <result column="seo_key_word" property="seoKeyWord" jdbcType="VARCHAR" />
    <result column="view_flag" property="viewFlag" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hqhw.pojo.About" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, SeoKeyWord, SeoDescription, viewFlag, reorder, Column_7, Column_8, seo_description, 
    seo_key_word, view_flag
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hqhw.pojo.AboutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from about
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hqhw.pojo.AboutExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from about
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from about
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from about
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hqhw.pojo.AboutExample" >
    delete from about
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hqhw.pojo.About" >
    insert into about (id, name, SeoKeyWord, 
      SeoDescription, viewFlag, reorder, 
      Column_7, Column_8, seo_description, 
      seo_key_word, view_flag, content
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{seokeyword,jdbcType=VARCHAR}, 
      #{seodescription,jdbcType=VARCHAR}, #{viewflag,jdbcType=INTEGER}, #{reorder,jdbcType=INTEGER}, 
      #{column7,jdbcType=CHAR}, #{column8,jdbcType=CHAR}, #{seoDescription,jdbcType=VARCHAR}, 
      #{seoKeyWord,jdbcType=VARCHAR}, #{viewFlag,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqhw.pojo.About" >
    insert into about
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="seokeyword != null" >
        SeoKeyWord,
      </if>
      <if test="seodescription != null" >
        SeoDescription,
      </if>
      <if test="viewflag != null" >
        viewFlag,
      </if>
      <if test="reorder != null" >
        reorder,
      </if>
      <if test="column7 != null" >
        Column_7,
      </if>
      <if test="column8 != null" >
        Column_8,
      </if>
      <if test="seoDescription != null" >
        seo_description,
      </if>
      <if test="seoKeyWord != null" >
        seo_key_word,
      </if>
      <if test="viewFlag != null" >
        view_flag,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="seokeyword != null" >
        #{seokeyword,jdbcType=VARCHAR},
      </if>
      <if test="seodescription != null" >
        #{seodescription,jdbcType=VARCHAR},
      </if>
      <if test="viewflag != null" >
        #{viewflag,jdbcType=INTEGER},
      </if>
      <if test="reorder != null" >
        #{reorder,jdbcType=INTEGER},
      </if>
      <if test="column7 != null" >
        #{column7,jdbcType=CHAR},
      </if>
      <if test="column8 != null" >
        #{column8,jdbcType=CHAR},
      </if>
      <if test="seoDescription != null" >
        #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeyWord != null" >
        #{seoKeyWord,jdbcType=VARCHAR},
      </if>
      <if test="viewFlag != null" >
        #{viewFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hqhw.pojo.AboutExample" resultType="java.lang.Integer" >
    select count(*) from about
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update about
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.seokeyword != null" >
        SeoKeyWord = #{record.seokeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.seodescription != null" >
        SeoDescription = #{record.seodescription,jdbcType=VARCHAR},
      </if>
      <if test="record.viewflag != null" >
        viewFlag = #{record.viewflag,jdbcType=INTEGER},
      </if>
      <if test="record.reorder != null" >
        reorder = #{record.reorder,jdbcType=INTEGER},
      </if>
      <if test="record.column7 != null" >
        Column_7 = #{record.column7,jdbcType=CHAR},
      </if>
      <if test="record.column8 != null" >
        Column_8 = #{record.column8,jdbcType=CHAR},
      </if>
      <if test="record.seoDescription != null" >
        seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.seoKeyWord != null" >
        seo_key_word = #{record.seoKeyWord,jdbcType=VARCHAR},
      </if>
      <if test="record.viewFlag != null" >
        view_flag = #{record.viewFlag,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update about
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      SeoKeyWord = #{record.seokeyword,jdbcType=VARCHAR},
      SeoDescription = #{record.seodescription,jdbcType=VARCHAR},
      viewFlag = #{record.viewflag,jdbcType=INTEGER},
      reorder = #{record.reorder,jdbcType=INTEGER},
      Column_7 = #{record.column7,jdbcType=CHAR},
      Column_8 = #{record.column8,jdbcType=CHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      seo_key_word = #{record.seoKeyWord,jdbcType=VARCHAR},
      view_flag = #{record.viewFlag,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update about
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      SeoKeyWord = #{record.seokeyword,jdbcType=VARCHAR},
      SeoDescription = #{record.seodescription,jdbcType=VARCHAR},
      viewFlag = #{record.viewflag,jdbcType=INTEGER},
      reorder = #{record.reorder,jdbcType=INTEGER},
      Column_7 = #{record.column7,jdbcType=CHAR},
      Column_8 = #{record.column8,jdbcType=CHAR},
      seo_description = #{record.seoDescription,jdbcType=VARCHAR},
      seo_key_word = #{record.seoKeyWord,jdbcType=VARCHAR},
      view_flag = #{record.viewFlag,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqhw.pojo.About" >
    update about
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="seokeyword != null" >
        SeoKeyWord = #{seokeyword,jdbcType=VARCHAR},
      </if>
      <if test="seodescription != null" >
        SeoDescription = #{seodescription,jdbcType=VARCHAR},
      </if>
      <if test="viewflag != null" >
        viewFlag = #{viewflag,jdbcType=INTEGER},
      </if>
      <if test="reorder != null" >
        reorder = #{reorder,jdbcType=INTEGER},
      </if>
      <if test="column7 != null" >
        Column_7 = #{column7,jdbcType=CHAR},
      </if>
      <if test="column8 != null" >
        Column_8 = #{column8,jdbcType=CHAR},
      </if>
      <if test="seoDescription != null" >
        seo_description = #{seoDescription,jdbcType=VARCHAR},
      </if>
      <if test="seoKeyWord != null" >
        seo_key_word = #{seoKeyWord,jdbcType=VARCHAR},
      </if>
      <if test="viewFlag != null" >
        view_flag = #{viewFlag,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hqhw.pojo.About" >
    update about
    set name = #{name,jdbcType=VARCHAR},
      SeoKeyWord = #{seokeyword,jdbcType=VARCHAR},
      SeoDescription = #{seodescription,jdbcType=VARCHAR},
      viewFlag = #{viewflag,jdbcType=INTEGER},
      reorder = #{reorder,jdbcType=INTEGER},
      Column_7 = #{column7,jdbcType=CHAR},
      Column_8 = #{column8,jdbcType=CHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      seo_key_word = #{seoKeyWord,jdbcType=VARCHAR},
      view_flag = #{viewFlag,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqhw.pojo.About" >
    update about
    set name = #{name,jdbcType=VARCHAR},
      SeoKeyWord = #{seokeyword,jdbcType=VARCHAR},
      SeoDescription = #{seodescription,jdbcType=VARCHAR},
      viewFlag = #{viewflag,jdbcType=INTEGER},
      reorder = #{reorder,jdbcType=INTEGER},
      Column_7 = #{column7,jdbcType=CHAR},
      Column_8 = #{column8,jdbcType=CHAR},
      seo_description = #{seoDescription,jdbcType=VARCHAR},
      seo_key_word = #{seoKeyWord,jdbcType=VARCHAR},
      view_flag = #{viewFlag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>