<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqhw.mapper.SpecialMapper" >
  <resultMap id="BaseResultMap" type="com.hqhw.pojo.Special" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="diqu" property="diqu" jdbcType="VARCHAR" />
    <result column="viewflag" property="viewflag" jdbcType="INTEGER" />
    <result column="sortId" property="sortid" jdbcType="INTEGER" />
    <result column="addrflage" property="addrflage" jdbcType="INTEGER" />
    <result column="source" property="source" jdbcType="VARCHAR" />
    <result column="author" property="author" jdbcType="VARCHAR" />
    <result column="clicknum" property="clicknum" jdbcType="INTEGER" />
    <result column="publishtime" property="publishtime" jdbcType="VARCHAR" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="video" property="video" jdbcType="VARCHAR" />
    <result column="Seokeyword" property="seokeyword" jdbcType="VARCHAR" />
    <result column="Seodescription" property="seodescription" jdbcType="VARCHAR" />
    <result column="publishname" property="publishname" jdbcType="VARCHAR" />
    <result column="sort_id" property="sortId" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hqhw.pojo.Special" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, title, diqu, viewflag, sortId, addrflage, source, author, clicknum, publishtime, 
    image, video, Seokeyword, Seodescription, publishname, sort_id
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.hqhw.pojo.SpecialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hqhw.pojo.SpecialExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from special
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from special
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hqhw.pojo.SpecialExample" >
    delete from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hqhw.pojo.Special" >
    insert into special (id, title, diqu, 
      viewflag, sortId, addrflage, 
      source, author, clicknum, 
      publishtime, image, video, 
      Seokeyword, Seodescription, publishname, 
      sort_id, content)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{diqu,jdbcType=VARCHAR}, 
      #{viewflag,jdbcType=INTEGER}, #{sortid,jdbcType=INTEGER}, #{addrflage,jdbcType=INTEGER}, 
      #{source,jdbcType=VARCHAR}, #{author,jdbcType=VARCHAR}, #{clicknum,jdbcType=INTEGER}, 
      #{publishtime,jdbcType=VARCHAR}, #{image,jdbcType=VARCHAR}, #{video,jdbcType=VARCHAR}, 
      #{seokeyword,jdbcType=VARCHAR}, #{seodescription,jdbcType=VARCHAR}, #{publishname,jdbcType=VARCHAR}, 
      #{sortId,jdbcType=INTEGER}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hqhw.pojo.Special" >
    insert into special
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="diqu != null" >
        diqu,
      </if>
      <if test="viewflag != null" >
        viewflag,
      </if>
      <if test="sortid != null" >
        sortId,
      </if>
      <if test="addrflage != null" >
        addrflage,
      </if>
      <if test="source != null" >
        source,
      </if>
      <if test="author != null" >
        author,
      </if>
      <if test="clicknum != null" >
        clicknum,
      </if>
      <if test="publishtime != null" >
        publishtime,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="video != null" >
        video,
      </if>
      <if test="seokeyword != null" >
        Seokeyword,
      </if>
      <if test="seodescription != null" >
        Seodescription,
      </if>
      <if test="publishname != null" >
        publishname,
      </if>
      <if test="sortId != null" >
        sort_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="diqu != null" >
        #{diqu,jdbcType=VARCHAR},
      </if>
      <if test="viewflag != null" >
        #{viewflag,jdbcType=INTEGER},
      </if>
      <if test="sortid != null" >
        #{sortid,jdbcType=INTEGER},
      </if>
      <if test="addrflage != null" >
        #{addrflage,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        #{author,jdbcType=VARCHAR},
      </if>
      <if test="clicknum != null" >
        #{clicknum,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null" >
        #{publishtime,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        #{video,jdbcType=VARCHAR},
      </if>
      <if test="seokeyword != null" >
        #{seokeyword,jdbcType=VARCHAR},
      </if>
      <if test="seodescription != null" >
        #{seodescription,jdbcType=VARCHAR},
      </if>
      <if test="publishname != null" >
        #{publishname,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hqhw.pojo.SpecialExample" resultType="java.lang.Integer" >
    select count(*) from special
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update special
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        title = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.diqu != null" >
        diqu = #{record.diqu,jdbcType=VARCHAR},
      </if>
      <if test="record.viewflag != null" >
        viewflag = #{record.viewflag,jdbcType=INTEGER},
      </if>
      <if test="record.sortid != null" >
        sortId = #{record.sortid,jdbcType=INTEGER},
      </if>
      <if test="record.addrflage != null" >
        addrflage = #{record.addrflage,jdbcType=INTEGER},
      </if>
      <if test="record.source != null" >
        source = #{record.source,jdbcType=VARCHAR},
      </if>
      <if test="record.author != null" >
        author = #{record.author,jdbcType=VARCHAR},
      </if>
      <if test="record.clicknum != null" >
        clicknum = #{record.clicknum,jdbcType=INTEGER},
      </if>
      <if test="record.publishtime != null" >
        publishtime = #{record.publishtime,jdbcType=VARCHAR},
      </if>
      <if test="record.image != null" >
        image = #{record.image,jdbcType=VARCHAR},
      </if>
      <if test="record.video != null" >
        video = #{record.video,jdbcType=VARCHAR},
      </if>
      <if test="record.seokeyword != null" >
        Seokeyword = #{record.seokeyword,jdbcType=VARCHAR},
      </if>
      <if test="record.seodescription != null" >
        Seodescription = #{record.seodescription,jdbcType=VARCHAR},
      </if>
      <if test="record.publishname != null" >
        publishname = #{record.publishname,jdbcType=VARCHAR},
      </if>
      <if test="record.sortId != null" >
        sort_id = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update special
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      diqu = #{record.diqu,jdbcType=VARCHAR},
      viewflag = #{record.viewflag,jdbcType=INTEGER},
      sortId = #{record.sortid,jdbcType=INTEGER},
      addrflage = #{record.addrflage,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      clicknum = #{record.clicknum,jdbcType=INTEGER},
      publishtime = #{record.publishtime,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      Seokeyword = #{record.seokeyword,jdbcType=VARCHAR},
      Seodescription = #{record.seodescription,jdbcType=VARCHAR},
      publishname = #{record.publishname,jdbcType=VARCHAR},
      sort_id = #{record.sortId,jdbcType=INTEGER},
      content = #{record.content,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update special
    set id = #{record.id,jdbcType=INTEGER},
      title = #{record.title,jdbcType=VARCHAR},
      diqu = #{record.diqu,jdbcType=VARCHAR},
      viewflag = #{record.viewflag,jdbcType=INTEGER},
      sortId = #{record.sortid,jdbcType=INTEGER},
      addrflage = #{record.addrflage,jdbcType=INTEGER},
      source = #{record.source,jdbcType=VARCHAR},
      author = #{record.author,jdbcType=VARCHAR},
      clicknum = #{record.clicknum,jdbcType=INTEGER},
      publishtime = #{record.publishtime,jdbcType=VARCHAR},
      image = #{record.image,jdbcType=VARCHAR},
      video = #{record.video,jdbcType=VARCHAR},
      Seokeyword = #{record.seokeyword,jdbcType=VARCHAR},
      Seodescription = #{record.seodescription,jdbcType=VARCHAR},
      publishname = #{record.publishname,jdbcType=VARCHAR},
      sort_id = #{record.sortId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqhw.pojo.Special" >
    update special
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="diqu != null" >
        diqu = #{diqu,jdbcType=VARCHAR},
      </if>
      <if test="viewflag != null" >
        viewflag = #{viewflag,jdbcType=INTEGER},
      </if>
      <if test="sortid != null" >
        sortId = #{sortid,jdbcType=INTEGER},
      </if>
      <if test="addrflage != null" >
        addrflage = #{addrflage,jdbcType=INTEGER},
      </if>
      <if test="source != null" >
        source = #{source,jdbcType=VARCHAR},
      </if>
      <if test="author != null" >
        author = #{author,jdbcType=VARCHAR},
      </if>
      <if test="clicknum != null" >
        clicknum = #{clicknum,jdbcType=INTEGER},
      </if>
      <if test="publishtime != null" >
        publishtime = #{publishtime,jdbcType=VARCHAR},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="video != null" >
        video = #{video,jdbcType=VARCHAR},
      </if>
      <if test="seokeyword != null" >
        Seokeyword = #{seokeyword,jdbcType=VARCHAR},
      </if>
      <if test="seodescription != null" >
        Seodescription = #{seodescription,jdbcType=VARCHAR},
      </if>
      <if test="publishname != null" >
        publishname = #{publishname,jdbcType=VARCHAR},
      </if>
      <if test="sortId != null" >
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hqhw.pojo.Special" >
    update special
    set title = #{title,jdbcType=VARCHAR},
      diqu = #{diqu,jdbcType=VARCHAR},
      viewflag = #{viewflag,jdbcType=INTEGER},
      sortId = #{sortid,jdbcType=INTEGER},
      addrflage = #{addrflage,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      clicknum = #{clicknum,jdbcType=INTEGER},
      publishtime = #{publishtime,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      Seokeyword = #{seokeyword,jdbcType=VARCHAR},
      Seodescription = #{seodescription,jdbcType=VARCHAR},
      publishname = #{publishname,jdbcType=VARCHAR},
      sort_id = #{sortId,jdbcType=INTEGER},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqhw.pojo.Special" >
    update special
    set title = #{title,jdbcType=VARCHAR},
      diqu = #{diqu,jdbcType=VARCHAR},
      viewflag = #{viewflag,jdbcType=INTEGER},
      sortId = #{sortid,jdbcType=INTEGER},
      addrflage = #{addrflage,jdbcType=INTEGER},
      source = #{source,jdbcType=VARCHAR},
      author = #{author,jdbcType=VARCHAR},
      clicknum = #{clicknum,jdbcType=INTEGER},
      publishtime = #{publishtime,jdbcType=VARCHAR},
      image = #{image,jdbcType=VARCHAR},
      video = #{video,jdbcType=VARCHAR},
      Seokeyword = #{seokeyword,jdbcType=VARCHAR},
      Seodescription = #{seodescription,jdbcType=VARCHAR},
      publishname = #{publishname,jdbcType=VARCHAR},
      sort_id = #{sortId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="findSpecialTen" resultType="com.hqhw.pojo.Special">
  	select id, title from special where viewflag = 1 and addrflage = 0 order by id desc limit 10
  </select>
</mapper>