<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqhw.mapper.WebinformationMapper" >
  <resultMap id="BaseResultMap" type="com.hqhw.pojo.Webinformation" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="webName" property="webname" jdbcType="VARCHAR" />
    <result column="picture" property="picture" jdbcType="VARCHAR" />
    <result column="topWords" property="topwords" jdbcType="VARCHAR" />
    <result column="microBlogAddress" property="microblogaddress" jdbcType="VARCHAR" />
    <result column="HWLink" property="hwlink" jdbcType="VARCHAR" />
    <result column="servicePhone" property="servicephone" jdbcType="VARCHAR" />
    <result column="webDescribe" property="webdescribe" jdbcType="VARCHAR" />
    <result column="webBottom" property="webbottom" jdbcType="VARCHAR" />
    <result column="micro_blog_address" property="microBlogAddress" jdbcType="VARCHAR" />
    <result column="service_phone" property="servicePhone" jdbcType="VARCHAR" />
    <result column="top_words" property="topWords" jdbcType="VARCHAR" />
    <result column="web_bottom" property="webBottom" jdbcType="VARCHAR" />
    <result column="web_describe" property="webDescribe" jdbcType="VARCHAR" />
    <result column="web_name" property="webName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, webName, picture, topWords, microBlogAddress, HWLink, servicePhone, webDescribe, 
    webBottom, micro_blog_address, service_phone, top_words, web_bottom, web_describe, 
    web_name
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hqhw.pojo.WebinformationExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from webinformation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from webinformation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from webinformation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hqhw.pojo.WebinformationExample" >
    delete from webinformation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hqhw.pojo.Webinformation" >
    insert into webinformation (id, webName, picture, 
      topWords, microBlogAddress, HWLink, 
      servicePhone, webDescribe, webBottom, 
      micro_blog_address, service_phone, top_words, 
      web_bottom, web_describe, web_name
      )
    values (#{id,jdbcType=INTEGER}, #{webname,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, 
      #{topwords,jdbcType=VARCHAR}, #{microblogaddress,jdbcType=VARCHAR}, #{hwlink,jdbcType=VARCHAR}, 
      #{servicephone,jdbcType=VARCHAR}, #{webdescribe,jdbcType=VARCHAR}, #{webbottom,jdbcType=VARCHAR}, 
      #{microBlogAddress,jdbcType=VARCHAR}, #{servicePhone,jdbcType=VARCHAR}, #{topWords,jdbcType=VARCHAR}, 
      #{webBottom,jdbcType=VARCHAR}, #{webDescribe,jdbcType=VARCHAR}, #{webName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hqhw.pojo.Webinformation" >
    insert into webinformation
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="webname != null" >
        webName,
      </if>
      <if test="picture != null" >
        picture,
      </if>
      <if test="topwords != null" >
        topWords,
      </if>
      <if test="microblogaddress != null" >
        microBlogAddress,
      </if>
      <if test="hwlink != null" >
        HWLink,
      </if>
      <if test="servicephone != null" >
        servicePhone,
      </if>
      <if test="webdescribe != null" >
        webDescribe,
      </if>
      <if test="webbottom != null" >
        webBottom,
      </if>
      <if test="microBlogAddress != null" >
        micro_blog_address,
      </if>
      <if test="servicePhone != null" >
        service_phone,
      </if>
      <if test="topWords != null" >
        top_words,
      </if>
      <if test="webBottom != null" >
        web_bottom,
      </if>
      <if test="webDescribe != null" >
        web_describe,
      </if>
      <if test="webName != null" >
        web_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="webname != null" >
        #{webname,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        #{picture,jdbcType=VARCHAR},
      </if>
      <if test="topwords != null" >
        #{topwords,jdbcType=VARCHAR},
      </if>
      <if test="microblogaddress != null" >
        #{microblogaddress,jdbcType=VARCHAR},
      </if>
      <if test="hwlink != null" >
        #{hwlink,jdbcType=VARCHAR},
      </if>
      <if test="servicephone != null" >
        #{servicephone,jdbcType=VARCHAR},
      </if>
      <if test="webdescribe != null" >
        #{webdescribe,jdbcType=VARCHAR},
      </if>
      <if test="webbottom != null" >
        #{webbottom,jdbcType=VARCHAR},
      </if>
      <if test="microBlogAddress != null" >
        #{microBlogAddress,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null" >
        #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="topWords != null" >
        #{topWords,jdbcType=VARCHAR},
      </if>
      <if test="webBottom != null" >
        #{webBottom,jdbcType=VARCHAR},
      </if>
      <if test="webDescribe != null" >
        #{webDescribe,jdbcType=VARCHAR},
      </if>
      <if test="webName != null" >
        #{webName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hqhw.pojo.WebinformationExample" resultType="java.lang.Integer" >
    select count(*) from webinformation
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update webinformation
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.webname != null" >
        webName = #{record.webname,jdbcType=VARCHAR},
      </if>
      <if test="record.picture != null" >
        picture = #{record.picture,jdbcType=VARCHAR},
      </if>
      <if test="record.topwords != null" >
        topWords = #{record.topwords,jdbcType=VARCHAR},
      </if>
      <if test="record.microblogaddress != null" >
        microBlogAddress = #{record.microblogaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.hwlink != null" >
        HWLink = #{record.hwlink,jdbcType=VARCHAR},
      </if>
      <if test="record.servicephone != null" >
        servicePhone = #{record.servicephone,jdbcType=VARCHAR},
      </if>
      <if test="record.webdescribe != null" >
        webDescribe = #{record.webdescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.webbottom != null" >
        webBottom = #{record.webbottom,jdbcType=VARCHAR},
      </if>
      <if test="record.microBlogAddress != null" >
        micro_blog_address = #{record.microBlogAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.servicePhone != null" >
        service_phone = #{record.servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="record.topWords != null" >
        top_words = #{record.topWords,jdbcType=VARCHAR},
      </if>
      <if test="record.webBottom != null" >
        web_bottom = #{record.webBottom,jdbcType=VARCHAR},
      </if>
      <if test="record.webDescribe != null" >
        web_describe = #{record.webDescribe,jdbcType=VARCHAR},
      </if>
      <if test="record.webName != null" >
        web_name = #{record.webName,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update webinformation
    set id = #{record.id,jdbcType=INTEGER},
      webName = #{record.webname,jdbcType=VARCHAR},
      picture = #{record.picture,jdbcType=VARCHAR},
      topWords = #{record.topwords,jdbcType=VARCHAR},
      microBlogAddress = #{record.microblogaddress,jdbcType=VARCHAR},
      HWLink = #{record.hwlink,jdbcType=VARCHAR},
      servicePhone = #{record.servicephone,jdbcType=VARCHAR},
      webDescribe = #{record.webdescribe,jdbcType=VARCHAR},
      webBottom = #{record.webbottom,jdbcType=VARCHAR},
      micro_blog_address = #{record.microBlogAddress,jdbcType=VARCHAR},
      service_phone = #{record.servicePhone,jdbcType=VARCHAR},
      top_words = #{record.topWords,jdbcType=VARCHAR},
      web_bottom = #{record.webBottom,jdbcType=VARCHAR},
      web_describe = #{record.webDescribe,jdbcType=VARCHAR},
      web_name = #{record.webName,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hqhw.pojo.Webinformation" >
    update webinformation
    <set >
      <if test="webname != null" >
        webName = #{webname,jdbcType=VARCHAR},
      </if>
      <if test="picture != null" >
        picture = #{picture,jdbcType=VARCHAR},
      </if>
      <if test="topwords != null" >
        topWords = #{topwords,jdbcType=VARCHAR},
      </if>
      <if test="microblogaddress != null" >
        microBlogAddress = #{microblogaddress,jdbcType=VARCHAR},
      </if>
      <if test="hwlink != null" >
        HWLink = #{hwlink,jdbcType=VARCHAR},
      </if>
      <if test="servicephone != null" >
        servicePhone = #{servicephone,jdbcType=VARCHAR},
      </if>
      <if test="webdescribe != null" >
        webDescribe = #{webdescribe,jdbcType=VARCHAR},
      </if>
      <if test="webbottom != null" >
        webBottom = #{webbottom,jdbcType=VARCHAR},
      </if>
      <if test="microBlogAddress != null" >
        micro_blog_address = #{microBlogAddress,jdbcType=VARCHAR},
      </if>
      <if test="servicePhone != null" >
        service_phone = #{servicePhone,jdbcType=VARCHAR},
      </if>
      <if test="topWords != null" >
        top_words = #{topWords,jdbcType=VARCHAR},
      </if>
      <if test="webBottom != null" >
        web_bottom = #{webBottom,jdbcType=VARCHAR},
      </if>
      <if test="webDescribe != null" >
        web_describe = #{webDescribe,jdbcType=VARCHAR},
      </if>
      <if test="webName != null" >
        web_name = #{webName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hqhw.pojo.Webinformation" >
    update webinformation
    set webName = #{webname,jdbcType=VARCHAR},
      picture = #{picture,jdbcType=VARCHAR},
      topWords = #{topwords,jdbcType=VARCHAR},
      microBlogAddress = #{microblogaddress,jdbcType=VARCHAR},
      HWLink = #{hwlink,jdbcType=VARCHAR},
      servicePhone = #{servicephone,jdbcType=VARCHAR},
      webDescribe = #{webdescribe,jdbcType=VARCHAR},
      webBottom = #{webbottom,jdbcType=VARCHAR},
      micro_blog_address = #{microBlogAddress,jdbcType=VARCHAR},
      service_phone = #{servicePhone,jdbcType=VARCHAR},
      top_words = #{topWords,jdbcType=VARCHAR},
      web_bottom = #{webBottom,jdbcType=VARCHAR},
      web_describe = #{webDescribe,jdbcType=VARCHAR},
      web_name = #{webName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>