<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hqhw.dao.AdvertisementFilesMapper" >
  <select id="findAdvertisementInAOne">
  		select a.id, f.path, a.addre from files f join Advertisement a on a.addre = 'a1' and f.aId = a.id LIMIT 5
  </select>
  
  <select id="findAdvertisementInATwo">
  		select a.id, f.path, a.addre from files f join Advertisement a on a.addre = 'a2' and f.aId = a.id LIMIT 5
  </select>
  
  <select id="findAdvertisementInAThree">
  		select a.id, f.path, a.addre from files f join Advertisement a on a.addre = 'a3' and f.aId = a.id LIMIT 6
  </select>
</mapper>